<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Administration du site!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

{#        {% block javascripts %}#}
{#            {{ encore_entry_script_tags('app') }}#}
{#            {% block importmap %}{{ importmap('app') }}{% endblock %}#}
{#        {% endblock %}#}
    </head>
    <body class="bg-primary-subtle">
    {% include ('layouts/_header.html.twig') %}

        <!-- Page Content -->
        <div class="container">
            <div class="row my-3">
                {% if app.user %}
                    <p class="h6 text-end">Bonjour {{ app.user.username }}</p>
                    <a href="{{ path('app_logout') }}" class="pull-right btn btn-danger mb-2">Se déconnecter</a>
                    <a href="{{ path('admin_task_list') }}" class="pull-right btn btn-primary mb-2">Administration des tâches anonymes</a>
                    <a href="{{ path('admin_user_list') }}" class="pull-right btn btn-secondary">Administration des utilisateurs</a>
                {% endif %}
            </div>

            <div class="row">
                <div class="col-md-12">
                    {% for flash_message in app.session.flashBag.get('success') %}
                        <div class="alert alert-success" role="alert">
                            <strong>Superbe !</strong> {{ flash_message }}
                        </div>
                    {% endfor %}

                    {% for flash_message in app.session.flashBag.get('error') %}
                        <div class="alert alert-danger" role="alert">
                            <strong>Oops !</strong> {{ flash_message }}
                        </div>
                    {% endfor %}

                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-12">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        <!-- /.container -->

    {% include ('layouts/_footer.html.twig') %}
    </body>
</html>
