{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
    <div class="container text-center">
        {{ form_errors(form) }}
        {{ form_start(form) }}
        <div class="my-3 col-8 offset-2">
            {{ form_row(form.username) }}
        </div>
        <div class="my-3 col-8 offset-2">
            {{ form_row(form.email) }}
        </div>
        <div class="my-3 col-8 offset-2 d-flex flex-column justify-content-around">
            {{ form_row(form.roles) }}
        </div>
        <div class="my-3 col-10 offset-1 d-flex justify-content-around">
            {{ form_row(form.plainPassword.first) }}
        </div>
        <div class="my-3 col-10 offset-1 d-flex justify-content-around">
            {{ form_row(form.plainPassword.second) }}
        </div>
        <div class="my-3 d-flex justify-content-around">
            {{ form_row(form.agreeTerms) }}
        </div>

        <button type="submit" class="btn btn-success pull-right">Ajouter</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
